[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Deriv"]
	path = Deriv
	url = https://github.com/sgsokol/deriv
[submodule "arrApply"]
	path = arrApply
	url = https://github.com/sgsokol/arrapply
[submodule "dynafluxr"]
	path = dynafluxr
	url = https://github.com/cran/dynafluxr
[submodule "gmresls"]
	path = gmresls
	url = https://github.com/cran/gmresls
[submodule "kvh"]
	path = kvh
	url = https://github.com/sgsokol/kvh
[submodule "multbxxc"]
	path = multbxxc
	url = https://github.com/cran/multbxxc
[submodule "r2sundials"]
	path = r2sundials
	url = https://github.com/sgsokol/r2sundials
[submodule "rmumps"]
	path = rmumps
	url = https://github.com/sgsokol/rmumps
