[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "kvh"]
	path = kvh
	url = https://github.com/sgsokol/kvh
	shallow = true
	registered = true
[submodule "rmumps"]
	path = rmumps
	url = https://github.com/sgsokol/rmumps
	shallow = true
	registered = true
[submodule "r2sundials"]
	path = r2sundials
	url = https://github.com/sgsokol/r2sundials
	shallow = true
	registered = true
[submodule "Deriv"]
	path = Deriv
	url = https://github.com/sgsokol/deriv
	shallow = true
	registered = true
